BODY {
	/*background-image: url(../img/bg.jpg);*/
	background-color:lemonchiffon;
	margin:0;
	padding:0;
	text-align: center;
	line-height: 120%;
 	font-family: "メイリオ","Meiryo UI",'ＭＳ Ｐゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',sans-serif;
	/*font-family: "ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;*/
}

table.frametable {
	width:810px;
	background-color:white;
	border-top:none;
	border-bottom:none;
/*	border-left:thin #AAAAAA solid;*/
/*	border-right:thin #AAAAAA solid;*/
	border-left:none;
	border-right:none;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

/*------------------------------*/
/*ヘッダ*/
table.headertable {
	width:800px;
	background-color:white;
	border:none;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

table#menutable {
	width:800px;
	background-color:white;
	border:none;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

td.menu {
	width:150px;
	height:40px;
	line-height:120%;
	text-align: center;
	vertical-align:middle;
	font-size:10pt;
	font-weight:600;
}

td.menu div {
	width:98%;
	height:100%;
    margin-top: 0px;
    padding-top: 5px;
	margin-left: 0px;
    padding-left: 0px;
	border-top:2px tan groove;
	border-bottom:none;
	border-left:2px tan groove;
	border-right:none;
	background-color:khaki;
	color:sandybrown;
	display:block;
	text-decoration: none;
	vertical-align:middle;
}

td.menu a {
	width:98%;
	height:100%;
    margin-top: 0px;
    padding-top: 5px;
	margin-left: 0px;
    padding-left: 0px;
	border-top:2px orange groove;
	border-bottom:2px orange groove;
	border-left:2px orange groove;
	border-right:2px orange groove;
	background-color:gold;
	color:maroon;
	display:block;
	text-decoration: none;
	vertical-align:middle;
}

td.menu a:hover {
	background-color:sienna;
	color:#ffffff;
}

td.menuhr {
	width:75px;
	height:40px;
	text-align: center;
	vertical-align:middle;
}

td.menuhr hr { 
	width: 100%;
	border: 0 none; 
	height: 2px; 
	color: gold; /* for WinIE/MacIE */ 
	background-color: gold; /* for Mozilla */ 
} 


/*------------------------------*/
/*リストと本文*/
table#centertable {
	width:800px;
	background-color:white;
	border:none;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	line-height:100%;
}

/*------------------------------*/
/*リスト*/
td#leftwindow {
	width:160px;
	text-align:left;
	vertical-align:top;
	font-size:10pt;
	color:olive;
}

table#listtable {
	width:158px;
	background-color:white;
	border:none;
	text-align: left;
}

#listtable td {
	width:158px;
    /*height: 37px;*/
	text-align:left;
	vertical-align:middle;
	font-size:10pt;
	line-height:100%;
}

#listtable ul {
/*    margin-top:0px;*/
	margin-left: 0px;
/*    padding-top: 0px;*/
    padding-left: 0px;
 	/*font-family: 'ＭＳ Ｐ明朝','ＭＳ 明朝',serif;*/
	font-size:10pt;
	text-align: center;
	width:158px;
}

#listtable li {
    list-style:none;
	width:158px;
    height: 37px;

}

#listtable div {
	width: 158px;
    height: 27px;
    margin-top: 0px;
    padding-top: 5px;
	margin-left: 0px;
    padding-left: 0px;
	text-decoration: none;
	border-top:1px wheat groove;
	border-bottom:1px wheat solid;
	border-left:1px wheat solid;
	border-right:1px wheat solid;
	background-color:antiquewhite;
	display:block;
	/*color:#9050e0;*/
	color:sandybrown;
}

#listtable a {
	width: 158px;
    height: 27px;
    margin-top: 0px;
    padding-top: 5px;
	margin-left: 0px;
    padding-left: 0px;
	text-decoration: none;
	border-top:1px burlywood solid;
	border-bottom:2px burlywood groove;
	border-left:1px burlywood solid;
	border-right:1px burlywood solid;
	background-color:papayawhip;
	display:block;
	/*color:#9050e0;*/
	color:chocolate;
	
}

#listtable a:hover {
	background-color: peru;
	color: white;
}

/*------------------------------*/
/*リストと本文の間のスペース*/

td.spacewindow {
	width:20px;
	display:none;
}


/*------------------------------*/
/*本文枠*/
td.mainwindow {
	width:620px;
	text-align:left;
	vertical-align:top;
	font-size:10pt;
	line-height:150%;
}

td.mainwindow a:link { color: darkblue; }
td.mainwindow a:visited { color: darkblue; }
td.mainwindow a:hover { color: #9050e0; }
td.mainwindow a:active { color: #909090; }
td.mainwindow a {
	font-size:10pt;
	text-decoration: underline;
}

/*本文の太字*/
td.mainwindow b {
/*	background-color:lightcyan;*/
	color:red;
}

/*------------------------------*/
/*フッタ枠*/

table#footertable {
	width:800px;
	background-color:white;
	border:none;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

#footertable td {
	width:800px;
	text-align:center;
	vertical-align:middle;
	font-size:9pt;
	line-height: 100%;
}

#footertable td.fcmt {
    width:800px;
    padding-left:100px;
	text-align:left;
	font-size:9pt;
	line-height: 110%;
}

#footertable hr { 
	width: 750px;
	border: 0 none; 
	height: 1px; 
	color: #dddddd; /* for WinIE/MacIE */ 
	background-color: #dddddd; /* for Mozilla */ 
} 

#footertable ul {
	line-height: 100%;
    width:80%;
    margin-top:0;
    font-size:8pt;
}

#footertable li {
	white-space:nowrap;
    list-style:none;
    padding:3px 3px;
    /*width:80px;*/
    float:left;
}

#footertable a:link { color: #909090; }
#footertable a:visited { color: #909090; }
#footertable a:hover { color: #9050e0; }
#footertable a:active { color: #a070ff; }
#footertable a {text-decoration: none;}

/*------------------------------*//*------------------------------*/
/*ページ見出し*/
/*オレンジ*/
h1 {
	text-align: left;
	vertical-align:middle;
	font-size:12pt;
	font-weight:700;
	color:darkorange;
}
/*オレンジ*/
strong.st0 {
	text-align: left;
	vertical-align:middle;
	font-size:12pt;
	font-weight:700;
	color:darkorange;
}

/*文章見出し*/
/*黒*/
strong.st1 {
	text-align: left;
	vertical-align:middle;
	font-size:11pt;
	font-weight:700;
	color:black;
}
/*茶*/
strong.st2 {
	text-align: left;
	vertical-align:middle;
	font-size:11pt;
	font-weight:700;
	color:saddlebrown;
}

/*文章本文*/

/*黒*/
span.normal1 {
	font-size:10pt;
	color:black;
	font-weight:600;
}
/*茶*/
span.normal2 {
	font-size:10pt;
	color:saddlebrown;
	font-weight:600;
}
/*オレンジ*/
span.normal3 {
	font-size:10pt;
	color:darkorange;
	font-weight:600;
}

/*グレー*/
span.normal4 {
	font-size:10pt;
	color:#606060;
	font-weight:600;
}

/*文章見出し span.normal2 の中*/
span.normal2 strong.st0 {
	text-align: left;
	vertical-align:middle;
	font-size:12pt;
	font-weight:700;
	color:darkorange;
}
/*黒*/
span.normal2 strong.st1 {
	text-align: left;
	vertical-align:middle;
	font-size:11pt;
	font-weight:700;
	color:black;
}
/*茶*/
span.normal2 strong.st2 {
	text-align: left;
	vertical-align:middle;
	font-size:11pt;
	font-weight:700;
	color:saddlebrown;
}

/*隠し強調*/
span.normal1 strong { 
	font-size:10pt;
	color:black;
	font-weight:600;
}
span.normal2 strong { 
	font-size:10pt;
	color:saddlebrown;
	font-weight:600;
}
span.normal3 strong { 
	font-size:10pt;
	color:darkorange;
	font-weight:600;
}

/*文章本文　子供用*/
/*読み仮名*/
span.chi1 {
	font-size:12pt;
	color:dimgray;
	font-weight:600;
}
/*漢字*/
span.chi2 {
	font-size:14pt;
	color:olivedrab;
	font-weight:600;
}


/*文章本文 小文字*/

/*黒*/
span.mini1 {
	font-size:9pt;
	color:black;
}
/*こげ茶*/
span.mini2 {
	font-size:9pt;
	color:maroon;
}
/*オレンジ*/
span.mini3 {
	font-size:9pt;
	color:darkorange;
}
/*グレー*/
span.mini4 {
	font-size:9pt;
	color:#606060;
}

/*広告ラベル*/
/*グレー*/
span.adlabel {
	font-size:8pt;
	color:#909090;
}

/*作成された問題*/
div#QTable {
	font-size:14pt;
	color:black;
	background-color:white;
	line-height: 100%;
	font-family: "ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
}

/*作成された解答*/
div#ATable {
	font-size:11pt;
	color:black;
	background-color:white;
	line-height: 100%;
	text-align:left;
	font-family: "ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
}

/*印刷ボタンエリア*/
div#BtnArea {
	font-size:11pt;
	color:black;
	background-color:white;
	line-height: 100%;
}


/*空白行*/
br.br10 { line-height:10px; }
br.br15 { line-height:15px; }
br.br20 { line-height:20px; }
br.br30 { line-height:30px; }
br.br40 { line-height:40px; }
br.br50 { line-height:50px; }
br.br100 { line-height:100px; }
br.br150 { line-height:150px; }
br.br200 { line-height:200px; }
br.br250 { line-height:250px; }
br.br300 { line-height:300px; }
br.br350 { line-height:350px; }


/*画像*/
img.title1 {
	border:none;
	width:790px;
}

img.line1 {
	border:none;
	width:480px;
}

img.noborder {
	border:none;
}


/*フォーム格納テーブル*/
table.t_forms {
	width:480px;
	background-color:lightyellow;
	border-top:thin #AAAAAA solid;
	border-bottom:thin #AAAAAA solid;
	border-left:thin #AAAAAA solid;
	border-right:thin #AAAAAA solid;
	margin-left:0pt;
	margin-right:auto;
	text-align: center;
	font:11pt;
}

/*印刷*/
@media print{

.noprint{
display:none;
}
}
